@{
    ViewBag.Title = "Display Data";
}

<h2>Display Data</h2>

<div>
    <label for="departmentDropdown">Select Department:</label>
    <select id="departmentDropdown">
        <option value="">-- Select Department --</option>
        @foreach (var department in ViewBag.Departments)
        {
            <option value="@department.DepartmentId">@department.DepartmentName</option>
        }
    </select>
</div>

<div>
    <label for="employeeDropdown">Select Employee ID:</label>
    <select id="employeeDropdown">
        <option value="">-- Select Employee ID --</option>
        @foreach (var employee in ViewBag.Employees)
        {
            <option value="@employee.EmployeeId">@employee.EmployeeId</option>
        }
    </select>
</div>

<div>
    <label for="employeeName">Employee Name:</label>
    <input type="text" id="employeeName" readonly />
</div>

<script>
    $(document).ready(function () {
        $("#departmentDropdown").change(function () {
            var selectedDepartmentId = $(this).val();
        })
        $("#employeeDropdown").change(function () {
            var selectedEmployeeId = $(this).val();
            var selectedEmployee = (ViewBag.Employees.SingleOrDefault(x => x.e == selectedDepartmentId));

            if (selectedEmployee) {
                $("#employeeName").val(selectedEmployee.Name);
            } else {
                $("#employeeName").val("");
            }
        });
    });
</script>